<div class="card text-white bg-dark">
  <div class="card-body">
<%= hidden_field_tag 'team[][tournament_id]', "#{@tournament.id}" %>
<%= label_tag :divison %>
<%= text_field_tag "team[][divison]", nil, placeholder: "optional" %>
<%= render 'select_players_form'%>
</div>
</div>

