<%= alert %>
<div class="container">
<body>
<div class="card-deck">
<div class="card" style="width: 50rem;">
  <div class="card-body">
<h1 class="display-2">Add Teams</h1>


<%= form_tag '/teams', method: :post do %>

<% @n.times do %>
<%= render 'group_team_form' %>
<br>
<% end %>
<br>
 <%= submit_tag "Create Teams" %>
 <% end %>
 </div>
 </div>
 </div>
</body>
</div>