<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<p id="alert"><%= alert %></p>

<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Tournament Wizard</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/signup">Signup</a>
        </nav>
      </div>
    </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <main class="px-3">
      <h1>Welcome To Tournament Wizard</h1>
      <p class="lead">Golf Tournaments are ment to be fun! Hosting them should to. Tournament Wizard is design to make running tournaments easy for your club!</p>
      <p class="lead">
        <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>
        <a href="/signup" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Signup</a>
      </p>
    </main>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="mt-auto text-white-50">
    <p>© 2020 Tournament Wizard </p>
  </footer>
  </div>
</body>