<%= @user.name %>

<h4>Tournaments</h4>
<% @tournaments.each do |t| %>
<%= link_to t.name, tournaments_path(t) %>
<br>
<% end %>

<h4>Players</h4>
<% @players.each do |p| %>
<%= p.name %>
<br>
<% end %>
