<%= render 'layouts/navbar' %>

<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3 text-center"><%= @tournament.name %></h1>
  </header>

  <h3>Scores:</h3>
  <% @teams.each do |team, final_score| %>
  <h3><u> <%= "Final Score: #{team.total_score}" %></u></h3>

<%= render partial: "scorecard", locals: {team: team} %>
  
  <% @r=0%>
  <br>
  <% end %>
</div>
