<%= alert %>
<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3 text-center">How many would you like to add?</h1>
    <main class="form-signin">
      <%= form_tag route, method: :post do %>
      <div class="form-group ">
      <%= number_field_tag :number, nil, class: "form-control", placeholder:"number" %>
      <%= submit_tag "Submit" %>
      </div>
    </main>
      <% end %>
  </header>
</div>

