<h1><%= @player.name %></h1>
<h4>Handicap</h4>
<%= @player.handicap %>
<h4>Tournaments Played In</h4>
<% @player.tournaments.each do |t|%>
- <%= t.name %>
<br>
<% end %>

<%= link_to "Edit Golfer", edit_player_path(@player) %>